<div id = "container">
    <form (submit)="editUser($event)">
        <div class = "input">
            <label><b>Provider</b></label><br>
            <input type="text" placeholder = {{providername}}>
        </div><br>
        <div class = "input">
            <label><b>Compliance</b></label><br>
            <input type="number" placeholder = {{compliance}}>
        </div><br>
        <div class = "input">
            <label><b>Non-Compliance</b></label><br>
            <input type="number" placeholder = {{noncompliance}}>
        </div><br>
        <div class = "input">
            <input type="submit" value = "Save" >
            <button class = "button" (click) = "cancel()">Cancel</button>
        </div>
    </form>
</div>